body {
    background-color:black;
}

p {
    font-family: Courier;
    color: cyan;
}

h1 {
    font-family: Courier;
    color: limegreen;
}

.navbar {
    background-color: #222;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
}

.navbar a {
    color: lightgray;
    text-decoration: none;
    font-family: Courier;
    font-size: 40px;
    font-weight: bold;
    margin-right: 50px;
}

.navbar a.current {
    color: lime;
}

.navbar a:hover {
    color: cyan;
}

.nav-links {
    display: flex;
    align-items: center;
}

.intro {
    text-align: center;
    margin-top: 100px;
}

.intro h1 {
    font-size: 50px;
}

.intro p {
    font-size: 22px;
}


.button {
    display: inline-block;
    padding: 12px 24px;

    background-color: transparent;
    color: cyan;

    border: 2px solid cyan;

    font-family: Courier;
    font-size: 18px;
    font-weight: bold;

    text-decoration: none;

    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: limegreen;
    color: black;
}

.line {
    height: 2px;
    width: 75%;
    background-color: cyan;
    margin: 50px auto;
}

.fill {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    align-items: stretch;
    gap: 20px;
}

.fill h1 {
    font-size: 50px;
}

.fill p {
    font-size: 22px;
}

.credits {
    font-size: 12px;
    text-align: center;
}

.box {
    padding: 10px;
    background-color: #111;
    border: 2px solid cyan;
    width: 500px;
}

.box h1 {
    font-size: 25px;
}

.box p {
    font-size: 16px;
}

#particles {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
    z-index: -1;
}

.particle {
    position: absolute;

    border-radius: 50%;
}